# Lesson1: Types

# Sentences (strings or str), numbers (ints/floats) and boolean (True/False)

In [8]:
print ('Hello world') # first program!

#Please note anything after a hash (#) is a comment and will not be run
# the rest is code

Hello world

In [9]:
#int (integer)
var =0
1

#float - has decimal place, uses more memory
1.0

# use +, -, / and * for basic operations
print ('1+1 = ', 1+1, 8, '6') 
print ('2/3 = ', 2/3, round(2/3,2)) #converts int to float (in python 3 only)

1+1 =  2 8 6
2/3 =  0.6666666666666666 0.67

## What are some other mathematical things we can do?

In [10]:
#hints +/-/x///log/square/round

#Task - write 5 different mathematical lines of python

In [11]:
#bool (Boolean - True or False)
print ('1 = 1:', 1 < 12)
a = True
b = False
print ('a:', type(a))

1 = 1: True
a: <class 'bool'>

## What can we test with bools?

In [12]:
#Task - write 2 different boolean lines of python

In [13]:
#str (string) - anything between quotation 'str' or "str"
print ('string' == "string")

# you can add str to str
first_name = 'Liam'
last_name = 'McIntyre'
name = first_name + ' ' + last_name
print ('name', name)
print (name.upper())
#You can't add strs and ints/floats
#print ('name', name + 1)

True
name Liam McIntyre
LIAM MCINTYRE

## Use tab or help to see all the things you can do with strs
#help(str)

In [14]:
#Task - make a str and use some str functions on it

# Set variables

In [15]:
x = 1 # Sets x to equal the int 1
print (x)
print (type(x))

#can set any type to a variable name of your choosing

1
<class 'int'>

In [16]:
print (x == 1) #One equals sets a  variable, two tests to see if equal
print (x * 3) #x is now an int so can be multiplied by ints

True
3

In [17]:
#Task - set some variables of different types and add/join them together

In [ ]:
#type conversion - you can tell python to set/change types explicity

a = '1' #str
print (a, type(a))
a = int(a)
print (a, type(a))

# Lesson 2: Containers

In [18]:
# sets - no order, only unique elements and fast
s1 = set([1,6,2,2,4,5])
print ('s1', s1)

# add to set 
s2 = set([]) #empty set = set([])
s2.add(12) 
print ('s2', s2)

# remove from set
s1.discard(6)
print ('updated s1', s1)
list(s1)

s1 {1, 2, 4, 5, 6}
s2 {12}
updated s1 {1, 2, 4, 5}

[1, 2, 4, 5]

In [19]:
# lists - ordered, slower and can have non unique elements
l1 = [1,2,2,3,4,5]
print ('l1', l1)

# add to list
l2 = [] #empty list = []
l2.append(1) 
print ('l2', l2)

# remove from list
l1.pop() #removes last item by default
print ('l1 after default pop(): ', l1)
pop_var = l1.pop(0) #pop from zeroth index (first postion in list (computers count from 0))
print ('l1 after default pop(0): ', l1)
print (pop_var)

l1 [1, 2, 2, 3, 4, 5]
l2 [1]
l1 after default pop():  [1, 2, 2, 3, 4]
l1 after default pop(0):  [2, 2, 3, 4]
1

In [20]:
#dicts (dictionaries) known as hash or lookup tables in other languages
d1 = {'a':1, 'b':2, 'c':3}

#here a, b and c are keys and 1, 2 and 3 are values
# We can lookup a value with its key
print ('Lookup the value of a:', d1.get('1'))

# add to dict
d1['new'] = 0
print ('updated d1:', d1)

#remove from dict
del (d1['new'])
print ('d1',  d1)

Lookup the value of a: None
updated d1: {'a': 1, 'b': 2, 'c': 3, 'new': 0}
d1 {'a': 1, 'b': 2, 'c': 3}

In [21]:
#Other ways of making dicts
rain = [1,2,3]
dates = ['march','june','july']
print (list(zip(dates, rain)))
dict_of_rain = dict(zip(dates, rain))
print (dict_of_rain)
print (dict_of_rain.get('june'))

[('march', 1), ('june', 2), ('july', 3)]
{'march': 1, 'june': 2, 'july': 3}
2

In [22]:
from collections import defaultdict
d=defaultdict(int)
for rainfall in rain:
    print (rainfall)
    d['rain'] += rainfall
    
print (d.get('rain'))

1
2
3
6

In [23]:
#tuples 
t1 = (1,2,3)
print ('t1', t1)

#tuples are immutable (can't be changed) so you can't add or remvoe elements
# you can unpack them though
a, b, c = t1
print ('a, b, c :', a, b, c )

t1 (1, 2, 3)
a, b, c : 1 2 3

# Thats MOST of the common types you need to build anything!

# MUTABILITY OF COMMON TYPES

Immutable:

int
float
decimal
complex
bool
string
tuple
range
frozenset
bytes

The following are some mutable objects:

list
dict
set
bytearray

# Lesson 3: Logic

# Loops

In [ ]:
#For loops

for i in [1,2,3]:# Iterates over the list [1,2,3]. Each iteration prints the next int in the list
    print ('i:',i)

In [ ]:
#i is a variable, we could call it anything
for anything in [1,2,3]:
    print ('anything:',anything)

In [ ]:
for index, i in enumerate([1,2,3]):# the enumerate function to shows the index, which starts at 0
    print ('index:',index, 'i:',i)

In [ ]:
# We can iterate over most things
a_set_of_ints = set([5,6,2,6,7])
for i in a_set_of_ints:
    print ('i:', i)
#Why are there only 4 i's? Why did the order change?

In [ ]:
# We can iterate over most things
a_list_of_strs = ['5','6','2','6','7']
for i in a_list_of_strs:
    print ('i:', i)
#Why no chnages this time?

In [ ]:
# We can iterate over most things
a_str = '56267'
for i in a_str:
    print ('i:', i)

In [ ]:
# We can iterate over most things
a_dict = {'a':1,'b':2,'c':3}
for i in a_dict:
    print ('i:', i)

In [ ]:
#where are the values?
a_dict = {'a':1,'b':2,'c':3}
for i in a_dict:
    print ('i:', 'key:', i, 'value:', a_dict.get(i))

In [ ]:
# We can iterate over most things
a_tuple = (1,'2','f')
for i in a_tuple:
    print ('i:', i)

In [ ]:
#list comprehension
a_list = [var for var in a_tuple if var != 1]

In [ ]:
#What else can we iterate?

In [ ]:
#while loops
x = 0
while x < 4:#same as for loops but only end when a certain condition is met
    print ('x:', x)
    x += 1 #don't forget to increment the condition or you'll have an infinite loop!

# if

In [24]:
if 3 > 2:
    print ('3 is greater than 2')

3 is greater than 2

In [26]:
a_tuple = (1, '1', 'fred')

for i in a_tuple:
    if i != 1:
        print ('Case A:',i != 1)
    else:
        print ('Case B:', i != 1)

Case B: False
Case A: True
Case A: True

In [13]:
a_str = 'a_str'

for i in a_str:# Iterate over a str and test two conditions, if they are not met else catches all
    if i == 'r':
        print ('Case A: i == r')
    elif i == '_':
        print ('Case B: i == _')
    else:
        print ('Case C: i ==', i)

Case C: i == a
Case B: i == _
Case C: i == s
Case C: i == t
Case A: i == r

# indexing

In [14]:
#get the ith position of an object or container
a_str = 'a_str'
print ('0th position of a_str:', a_str[0])

0th position of a_str: a

In [ ]:
print ('first postion of a_str:', a_str[1])#word better
print ('4th postion of a_str:', a_str[4])

In [ ]:
print ('first 2 postions of a_str:', a_str[:2])# use [:] to take chunks
print ('last 2 postions of a_str:', a_str[3:])
print ('last 2 postions of a_str:', a_str[-2:])#use - to count from the end

In [ ]:
a_list = [1,2,3,4,5,6,7,8]
print ('every 2nd position of a list:', a_list[::2])#use [::i] to take every ith position
print ('every 3rd position of a list, reversed:', a_list[::-3])#use [::-n] to take every nth position in reverse

# lesson 4
functions and classes

In [ ]:
def print_x(x):
    print (x)
print_x('x')

In [29]:
#classes
class Person:
    
    def __init__(self, age, first_name, last_name, height, sex):
        #dunder mthods are private - just for use in class
        self.age = age
        self.first_name = first_name
        self.last_name = last_name
        self.height = height
        self.sex = sex
        
    def fullname(self):
        return '{} {}'.format(self.first_name, self.last_name)

In [30]:
P1 = Person(35, 'Liam', 'McIntyre', 188, 'Male')
P2 = Person(44, 'Bob', 'Jones', 133, 'Male')

print (P1.first_name)

Liam

In [31]:
print (P1.fullname())

Liam McIntyre

In [32]:
#date time
import datetime
bday = datetime.datetime(1983, 6, 8, 15,37,22)

In [33]:
print(bday)

1983-06-08 15:37:22

In [34]:
#pandas
import pandas as pd
import datetime
import pandas as pd
import numpy as np

todays_date = datetime.datetime.now().date()
index = pd.date_range(todays_date-datetime.timedelta(10), periods=10, freq='D')

columns = ['A','B', 'C']
data = np.array([np.arange(10)]*3).T

In [35]:
df = pd.DataFrame(data, index=index, columns=columns)
df

            A  B  C
2019-02-08  0  0  0
2019-02-09  1  1  1
2019-02-10  2  2  2
2019-02-11  3  3  3
2019-02-12  4  4  4
2019-02-13  5  5  5
2019-02-14  6  6  6
2019-02-15  7  7  7
2019-02-16  8  8  8
2019-02-17  9  9  9

In [37]:
df.loc['2019-02-16']#get one row

A    8
B    8
C    8
Name: 2019-02-16 00:00:00, dtype: int64

In [41]:
df.loc['2019-02-15':'2019-02-16']#get 2 rows

            A  B  C
2019-02-15  7  7  7
2019-02-16  8  8  8

In [42]:
df.loc['2019-02-15':'2019-02-16','A']#2 rows and a col

2019-02-15    7
2019-02-16    8
Freq: D, Name: A, dtype: int64

In [43]:
df.loc['2019-02-15':'2019-02-16',['A','B']]#2 rows 2 cols

            A  B
2019-02-15  7  7
2019-02-16  8  8